# Configuration file

spawning {
    # Specify class of entity to spawn for wave, supports multiple entries separated by commas
    S:difficulty_0=toast.specialMobs.entity.zombie.EntityFireZombie
    S:difficulty_1=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie
    S:difficulty_2=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie
    S:difficulty_3=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie
    S:difficulty_4=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie
    S:difficulty_5=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie,toast.specialMobs.entity.zombie.EntityFishingZombie
    S:difficulty_6=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie,toast.specialMobs.entity.zombie.EntityFishingZombie
    S:difficulty_7=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie,toast.specialMobs.entity.zombie.EntityFishingZombie,toast.specialMobs.entity.zombie.EntityBrutishZombie
    S:difficulty_8=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie,toast.specialMobs.entity.zombie.EntityFishingZombie,toast.specialMobs.entity.zombie.EntityBrutishZombie
    S:difficulty_9=net.minecraft.entity.monster.EntityZombie,toast.specialMobs.entity.zombie.EntityFireZombie,toast.specialMobs.entity.zombie.EntityPlagueZombie,toast.specialMobs.entity.zombie.EntityFishingZombie,toast.specialMobs.entity.zombie.EntityBrutishZombie,toast.specialMobs.entity.zombie.EntityGiantZombie
}


