# Configuration file

minecraft {
    # [BOTH] Allows mobs that picked up player loot to despawn and drop that loot.
    # [default: true]
    B:entityLivingDropLootOnDespawnMixin=true

    # [BOTH] Fixes NullPointerExceptions caused by getBlockLightValue returning NULL.
    # [default: true]
    B:worldGetBlockLightValueNpeMixin=true

    # [BOTH] Fixes Mojang's null-unsafe World.class getBlock.
    # [default: true]
    B:worldUnsafeGetBlockMixin=true

    # [BOTH] Reduces lag spike when toRemoveTileEntities is large
    # Note: Automatically disabled if FastCraft is present, it has its own patch for this.
    # [default: true]
    B:worldUpdateEntitiesRemoveAllMixin=false

    # [SERVER] Redirects boat collision damage to the player instead of popping the boat.
    # LORE: Added this cause I wanted drunk driving in Minecraft.
    # [default: true]
    B:boatDamageRedirect=true

    # [CLIENT] Resets GameOver ui after switching to fullscreen to fix buttons disabling.
    # [default: true]
    B:guiGameOverInitGuiMixin=true

    # [CLIENT] Fixes an occasional game crash caused by OpenAL linking errors
    # [default: true]
    B:openALNativeCrashFix=true

    # [CLIENT] Fixes an occasional game crash caused by the sound pool becoming inconsistent
    # [default: true]
    B:soundManagerCrashFix=true

    # [BOTH] Makes entity netcode more precise, fixing some rubber-banding and bouncing items.
    # NOTE: This needs to be enabled both serverside and clientside, otherwise it leads to a crash when trying to join multiplayer!
    # [default: true]
    B:entityNetcodeImprovements=false

    # [BOTH] Fixes crash when processing blockPlacement if container is invalid
    # [default: true]
    B:BlockPlacementCrashFix=true

    # [BOTH] Implements the ExtendedTileEntity interface on top of TileEntity.
    # This does nothing on it's own, but other fixes may depend on it.
    # [default: true]
    B:extendedTileEntity=false

    # [BOTH] Adds a Tile Entity tank to the Minecraft cauldron, this tile does not tick but extends it's functionality.
    # It implements the Forge IFluidHandler interface, which allows mods to interact with it like a regular tank.
    # The internal tank stores 750mb of water, a bucket can still refill it as usual.
    # However, draining is disabled. This is to prevent the cauldron to be used as a cheap water buffer.
    # Block metadata will be equivalent to (storedFluidAmount / 250) rounded to an int. 
    # So: [150mb -> meta 0], [300mb -> meta 1] and [750mb -> meta 3] etc. 
    # Thus vanilla behaviour and mod interactions are practically the same, a full bucket will still fill it to the top and bottles work the same etc.
    # And so does washing GregTech dust, as all these interactions will do is read & update the meta value.
    # REQUIREMENTS: extendedTileEntity=true
    # LORE: Added this when I was still a slow-ass pre steam, but couldn't be fucked to fill a cauldron by hand.
    # [default: true]
    B:cauldronTank=false

    # [SERVER] Replaces the world generator integer cache with a more thread safe and optimized variant.
    # [default: true]
    B:newIntCache=true

    # [CLIENT] Allows switching tools when breaking blocks
    # [default: true]
    B:allowToolSwitchOnBlockBreak=false

    # [SERVER] Whether or not enable faster leaf decay. Decay speed is controlled by Decay Speed and Fuzz
    # [default: true]
    B:FAST_LEAF_DECAY=true

    # [SERVER] The amount of ticks every leave needs to decay (Lower is faster)
    # [range: -2147483648 ~ 2147483647, default: 21]
    I:DECAY_SPEED=1

    # [SERVER] A random number from 0 to (this config value) will be added to the decay speed for every leaf block.
    # Setting this to 0 will decay leaves rather linear while higher numbers will let the whole thing look more natural
    # [range: -2147483648 ~ 2147483647, default: 15]
    I:DECAY_FUZZ=0

    # [BOTH] Make hopper hitboxes match their shape
    # [default: true]
    B:dietHoppers=false

    # [CLIENT] Inject RenderTooltipEvent hooks into GuiScreen tooltip renderer
    # [default: true]
    B:tooltipEventHook=true

    # [BOTH] Fixes a potential crash if the world tile entity list contains a null.
    # [default: true]
    B:nullSafeGetTE=true

    # [BOTH] Disables creating nether portals
    # [default: true]
    B:disablePortalCreation=false

    # [BOTH] Faster NBT Compounds using FastUtil
    # Both an ArrayMap and HashMap implementation are provided
    # Idk which one is really faster.
    # (0=OFF)
    # (1=Object2ObjectArrayMap)
    # (2=Object2ObjectOpenHashMap)
    # [range: 0 ~ 2, default: 2]
    I:fasterNbt=2

    # [BOTH] Evil Beds
    # [default: false]
    B:evilBeds=false
}


mods {
    # [CLIENT]{OptiFine} Fix modded PBRs and connected textures when switching worlds
    # [default: true]
    B:optiFineShaderMappingFix=true

    # [CLIENT]{OptiFine} Fix sun angle not updating without shadow pass
    # [default: true]
    B:optiFineSunAngleFix=true

    # [SERVER]{ExtraUtilities} Removes checking the render type of blocks to determine if they are a fence, by checking render type.
    # This may make certain modded fences which do not extend the base Minecraft fence to not function as perimeter blocks for the Ender Quarry.
    # This *usually* has no side effects as the code is often present both server and client side, but mods which will run both
    # should *NEVER* touch render code in any way shape or form.
    # LORE: Was crashing with RPLE of all things, how did we even get this far without it being noticed???
    # [default: true]
    B:extraUtilitiesBlockBreakingRegistryFix=true

    # [SERVER]{BuildCraft} Improves the Chute (Original Hopper) to pull items from the top at the same speed it can push items from the bottom.
    # LORE: Added this as in MEGA they are expensive to craft and should be at least worth the cost.
    # [default: true]
    B:buildCraftChuteImprovements=true

    # [BOTH] Makes IC2 Chargepads aware of bauble slots
    # [default: true]
    B:ic2ChargepadBaubleSupport=true
}


