# Configuration file

"heal amm" {
    S:"Heal AMM"=4.0
}


"heal timer" {
    I:"Heal Timer"=120
}


hw {
    # Should the Ladder Zombie Spawn in? [default: true]
    B:"Spawn Ladder Zombie"=true

    # HW source invasion hardness(break) [range: 0.0 ~ 1000.0, default: 50.0]
    S:hardness=10.0

    # HW source invasion block resistance(explosion) [range: 0.0 ~ 1000.0, default: 1000.0]
    S:resistance=1000.0
}


"hw source invasion block resistance(explosion)" {
    S:resistance=1000.0
}


"hw source invasion hardness(break)" {
    S:hardness=10.0
}


"infernal mobs" {
    # If a endermen is with a modifier, should it be aggressive? [default: false]
    B:"Endermen Aggressive if modifier"=false

    # If a pigmen is with a modifier, should it be aggressive? [default: true]
    B:"Pigmen Aggressive if modifier"=true

    # If a spider is with a modifier, should it be aggressive? [default: true]
    B:"Spider Aggressive if modifier"=true
}


player {
    # Should natural Regeneration be forcefully turned off? [default: false]
    B:"Natural regeneration"=true
}


wither {
    #  [range: 0.0 ~ 1000.0, default: 4.0]
    S:"Heal AMM"=4.0

    #  [range: 0 ~ 100000, default: 120]
    I:"Heal Timer"=120
}


