# Configuration file

entity {
    I:"Black Mage ID"=377
    I:"Dangerous Plant ID"=383
    I:"Entity Teleporter Boss ID"=372
    I:"Fake Coal Ore ID"=364
    I:"Fake Copper Ore ID"=368
    I:"Fake Diamond Ore ID"=360
    I:"Fake Emerald Ore ID"=361
    I:"Fake Gold Ore ID"=362
    I:"Fake Iron Ore ID"=363
    I:"Fake Lapis Lazuli Ore ID"=367
    I:"Fake Nether Quartz Ore ID"=366
    I:"Fake Redstone Ore ID"=365
    I:"Fake Tin Ore ID"=369
    I:"Fake Uranium Ore ID"=370
    I:"Flyer ID"=374
    I:"Flyer Shield ID"=375
    I:"Mage Spell ID"=378
    I:"Mutant Monster ID"=380
    I:"Nope Grenade ID"=382
    I:"Nope Guy ID"=381
    I:"Ore BOSS Mob ID"=371
    I:"Player Hunter Mob ID"=373
    I:"Regeneration Egg ID"=379
    I:"Schaza ID"=376
    I:"Stalker ID"=384
}


spawn {
    B:"Enable Fake Ores"=true
    B:"Spawn Black Mage"=false
    B:"Spawn Dangerous Plant"=false
    B:"Spawn Flyer"=false
    B:"Spawn Mutant Monster"=false
    B:"Spawn Nope Guy"=false
    B:"Spawn Player Hunter"=false
    B:"Spawn Regeneration Egg"=false
    B:"Spawn Schaza"=false
    B:"Spawn Stalker"=false
}


world {
    I:"Dimension ID"=4
    I:"Main Biome ID (MAX : 128)"=121
    I:"Second Biome ID (MAX : 128)"=120
}


