# Configuration file

biomefrequencies {
    I:"Birch Forest"=10
    I:"Cold Taiga"=10
    I:Desert=30
    I:"Extreme Hills"=20
    I:Forest=20
    I:"Ice Plains"=30
    I:Jungle=5
    I:"Mega Taiga"=5
    I:"Mesa Plateau"=1
    I:"Mesa Plateau F"=4
    I:Plains=30
    I:"Roofed Forest"=10
    I:Savanna=20
    I:Swampland=10
    I:"Taiga (snowless)"=20
}


